<% layout("/layouts/boilerplate") %>





<div class="card mb-3 " style="max-width: 50rem; margin: 2rem;">
    <div class="row g-0">
      <div class="col-md-4" style="max-width: 20rem;">
        <img src="https://images.unsplash.com/photo-1604881991664-593b31b88488?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card" >
            <div class="card-header">
                <h1>  <i class="fa-solid fa-earth-americas "></i>Helpify</h1>
          
              
                
              
            </div>
            <ul class="list-group list-group-flush">
                <li > </li>
                <li ></li>
                <li class="list-group-item"> <h2><i class="fa-solid fa-headset"></i>   Contact Us</h2></li>
              <li class="list-group-item"><b><i class="fa-solid fa-envelope"></i>  Email : helpify@gmail.com</b></li>
              <li class="list-group-item"><b><i class="fa-solid fa-phone-volume"></i>  Contact Number : 1234567890</b></li>
              <li class="list-group-item"><b><i class="fa-solid fa-info"></i>  Custumer Support : 9902199120</b></li>

            </ul>
          </div>


      </div>
    </div>
  </div>
  
