<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/swiper-bundle.min.css">

<body>


  <h2>The Best Services Near You!</h2>  
    <div class="slide">
         
        <div class="img-slide">
        
     
            <div class="container swiper">
                <div class="slide-container">
                  <div class="card-wrapper swiper-wrapper">


                    <% for(let listing of allListings) { %>
                      
                    <div class="card swiper-slide">
                      <div class="image-box">
                        <a href="/listings/<%=listing._id%>">
                        <img src="<%=listing.image.url %>" alt="" /></a>
                      </div>
                      <div class="profile-details">
                    
                        <div class="name-job">
                          <h4 class="job"><%= listing.title %></h4>
                        </div>
                      </div>
                    </div>
                    <% } %>

                  </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
              </div>
    </div>
</div>



<!-- =========================== -->

<h2> Top-Rated Experts at Your Service</h2>

<div >

<div class="card mb-3 " style="max-width: 50rem; margin: 2rem;">
  <div class="row g-0">
    <div class="col-md-4" style="max-width: 20rem;">
      <img style="width: 100%; height : 100%; object-fit:cover;"  "src="https://media.istockphoto.com/id/1477975350/photo/male-electrician-worker-checking-repair-maintenance-operation-electric-system-in-factory-male.jpg?s=1024x1024&w=is&k=20&c=z3T23u6giA1JuewJOps0RkbNYvt9FKPO4gONH80Bhxc=">
    </div>
    <div class="col-md-8">
      <div class="card-body p-3" >
        <h5 class="card-title"> Electrician Services ⚡🔧</h5>
        <p class="card-text">From fixing wiring issues to installing electrical appliances, our certified electricians handle all your power-related needs with safety and efficiency. Book a trusted electrician for repairs, installations, and maintenance.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 month ago</small></p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3 " style="max-width: 50rem; margin: 2rem;">
  <div class="row g-0">
    <div class="col-md-4" style="width: 100%;">
      <img style="width: 100%; height : 100%; object-fit:cover;"  " src="https://images.unsplash.com/photo-1674726253061-baba094ad8c7?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGx1bWJpbmclMjBzZXJ2aWNlc3xlbnwwfHwwfHx8MA%3D%3D">
    </div>
    <div class="col-md-8">
      <div class="card-body p-3">
        <h5 class="card-title">Plumbing Services 🚰🔩</h5>
        <p class="card-text">Get professional plumbing solutions for leak repairs, pipe installations, drain cleaning, and water heater maintenance. Our skilled plumbers ensure quick and hassle-free service to keep your home running smoothly.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 month ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 " style="max-width: 50rem; margin: 2rem;">
  <div class="row g-0">
    <div class="col-md-4" style="max-width: 20rem;">
      <img  style="width: 100%; height : 100%; object-fit:cover;"  "src="https://media.istockphoto.com/id/1158604593/photo/indian-hindu-veg-thali-food-platter-selective-focus.jpg?s=612x612&w=0&k=20&c=HU4t-eZFGXnhQKRJLaRpwZKm00XkWXVCc2n9lVVRVTI=">
    </div>
    <div class="col-md-8">
      <div class="card-body p-3">
        <h5 class="card-title">Tiffin & Meal Services 🍽️🥗</h5>
        <p class="card-text">Enjoy fresh, home-cooked meals delivered to your doorstep with our reliable tiffin service. Perfect for students, working professionals, and families, offering healthy and hygienic food at affordable prices.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 month ago</small></p>
      </div>
    </div>
  </div>
</div>

</div>

 


      
</body>

<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/script1.js"></script>
