<nav class="filter-nav navbar navbar-expand-lg bg-body-tertiary nav2" style=" background-color: #fff !important;">
    <div class="container-fluid">



      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup3"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <b> <a class="navbar-brand">Filters</a></b>
        <i class="fa-solid fa-filter"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup3" style="height: 0.5rem">
        <div class="navbar-nav ">
          <div class="filter">
            <div><a class="filter-link" href="/trending">
                <i class="fa-solid fa-fire"></i>
                <p>Trending</p>
              </a>
            </div>

            </a>
          </div>

          <div class="filter">
            <div><a class="filter-link" href="/filter?tiffin">
              <i class="fa-solid fa-bowl-food"></i>
                <p>Tiffin</p>
              </a>

            </div>


          </div>

          <div class="filter">
            <div>
              <a class="filter-link" href="/filter?search=Household">
                <i class="fa-solid fa-house-user"></i>
                <p>Household</p>
              </a>
            </div>

          </div>

          <div class="filter">
            <div>
              <a class="filter-link" href="/filter?search=Helper">
                <i class="fa-solid fa-shop"></i>
                <p>Helper</p></a>
            </div>
         
          </div>

          <div class="filter">
            <div>
              <a class="filter-link" href="/filter?search=Gardner">
                <i class="fa-solid fa-sun-plant-wilt"></i>
                <p>Gardner</p></a>
            </div>
            
          </div>

          <div class="filter">
            <div>
              <a class="filter-link" href="/filter?search=Home Cleaner">
                <i class="fa-solid fa-broom"></i>
                <p>Home Cleaner</p></a>
            </div>
          
          </div>

          <div class="filter">
            <div>
              <a class="filter-link" href="/filter?search=Electrician">
                <i class="fa-solid fa-plug"></i>
                <p>Electrician</p></a>
            </div>
            
          </div>

          <div class="filter">
            <div>
              <a class="filter-link" href="/filter?search=Painter">
                <i class="fa-solid fa-paintbrush"></i>
                <p>Painter</p></a>
            </div>
       
          </div>

          <div class="filter">
            <div>
              <a class="filter-link" href="/filter?search=Plumber">
                <i class="fa-solid fa-faucet"></i>
                <p>Plumber</p></a>
            </div>
        
          </div>


          <div class="filter">
            <div>
              <a class="filter-link" href="/filter?search=Pet care">
                <i class="fa-solid fa-paw"></i>
                <p>Pet care</p>
              </a>
            </div>
           

          </div>

          <div class="tax-toggle ">
            <div class="form-check-reverse form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"><b>Display Total Taxes</b></label>
            </div>
          </div>


        </div>
      </div>

    </div>
  </nav>

  
  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tax-info");
      for (info of taxInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        }
        else {
          info.style.display = "none";
        }
      }
    });
  </script>
