<footer class="mt-7">
    <div class="f-info ">
      <div class="f-info-brand mt-1"><a href="/listings"><i class="fa-solid fa-earth-americas "></i></a>
         <a  href="/listings"><h3 class="brand-Title">TravelNest</h3></a>
      </div>

         <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="/policy/contact"><i class="fa-solid fa-phone"></i></i></a>

         </div>
        
         <div class="f-info-links">
          
            <a href="/policy"><b>Privacy Policy & Terms</b></a> 
               &nbsp All copyright  2023-2025 © TravelNest private limited.
         </div>
          
    </div>
</footer>